In [1]:
import pandas as pd
# this helps us preview more rows and columns in our dataset
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
# this prevents pandas from displaying floats with scientific notation
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [2]:
data_completed = pd.read_csv("data/LL24_bbl/LL24_Completed_bbl.csv")
data_inprogress = pd.read_csv("data/LL24_bbl/LL24_InProgress_bbl.csv")
data_rooffindings = pd.read_csv("data/LL24_bbl/LL24_RoofFindings_bbl.csv")
data_solarready = pd.read_csv("data/LL24_bbl/LL24_SolarReady_bbl.csv")

In [3]:
data_completed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 24 columns):
Unnamed: 0                                      57 non-null int64
Unnamed: 0.1                                    57 non-null int64
Unnamed: 0.1.1                                  57 non-null int64
Unnamed: 0.1.1.1                                57 non-null int64
Unnamed: 0.1.1.1.1                              57 non-null int64
Unnamed: 0.1.1.1.1.1                            57 non-null int64
Unnamed: 0.1.1.1.1.1.1                          57 non-null int64
City Council District                           57 non-null int64
Agency                                          57 non-null object
Site                                            57 non-null object
BBL                                             57 non-null int64
Address                                         57 non-null object
Borough                                         57 non-null object
Environmental Justice Zone*                     57 non-null object
Installation date                               57 non-null object
Installed  Capacity                             57 non-null object
Percentage of Max Peak Demand                   57 non-null object
Estimated Annual Production                     57 non-null object
Percentage of Annual Electricity Consumption    57 non-null object
Estimated Annual Emissions Reduction            57 non-null object
Estimated Social Cost of Carbon Value**         57 non-null object
Estimated Annual Energy Savings***              57 non-null object
Upfront Project Cost                            57 non-null object
Financing Mechanism                             57 non-null object
dtypes: int64(9), object(15)
memory usage: 10.8+ KB

In [4]:
data_completed['BBL'] = data_completed['BBL'].astype(str)
data_inprogress['BBL'] = data_inprogress['BBL'].astype(str)
data_rooffindings['BBL'] = data_rooffindings['BBL'].astype(str)
data_solarready['BBL'] = data_solarready['BBL'].astype(str)

In [5]:
data_completed.drop(data_completed.columns[[0,1,2,3,4,5,6]], axis=1, inplace=True)
data_inprogress.drop(data_inprogress.columns[[0,1,2,3,4,5,6,7]], axis=1, inplace=True)
data_rooffindings.drop(data_rooffindings.columns[[0,1,2,3]], axis=1, inplace=True)
data_solarready.drop(data_solarready.columns[[0,1,2,3,4,5,6,7,8,9]], axis=1, inplace=True)

In [6]:
# data_completed.info()
data_solarready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 11 columns):
City Council District                   413 non-null int64
Agency                                  413 non-null object
Site                                    413 non-null object
Address                                 413 non-null object
Borough                                 413 non-null object
Environmental Justice Zone*             252 non-null object
Solar-Readiness Assessment**            64 non-null object
Estimated Capacity***                   413 non-null object
Estimated Annual Production***          413 non-null object
Estimated Annual Emissions Reduction    413 non-null object
BBL                                     413 non-null object
dtypes: int64(1), object(10)
memory usage: 35.6+ KB

In [7]:
data_solarready.head()

   City Council District Agency                           Site           Address    Borough Environmental Justice Zone* Solar-Readiness Assessment** Estimated Capacity*** Estimated Annual Production*** Estimated Annual Emissions Reduction         BBL
0                      1   CUNY             BMCC Fiterman Hall  245 Greenwich St  Manhattan                         NaN                          NaN               0.61 kW                        716 kWh                           0.2 MT CO2  1001270001
1                      1   NYPL  Chatham Square Branch Library  33 East Broadway  Manhattan                         EJZ                          NaN               1.83 kW                      2,148 kWh                             1 MT CO2  1002800044
2                      1   NYPD                   5th Precinct   19 Elizabeth St  Manhattan                         EJZ                          NaN               3.05 kW                      3,580 kWh                             1 MT CO2  1002010020
3                      1    DOE                           M477  345 CHAMBERS ST.  Manhattan                         NaN                          NaN              12.20 kW                     14,321 kWh                             4 MT CO2  1000160215
4                      1   DCAS          Court Square Building    2 Lafayette St  Manhattan                         NaN                          NaN              14.60 kW                     17,142 kWh                             4 MT CO2  1001550001

In [8]:
#remove units from fields in order to work with the data more easily
data_completed['Installed  Capacity'] = data_completed['Installed  Capacity'].map(lambda x: x.rstrip(' kW'))
data_completed['Percentage of Max Peak Demand'] = data_completed['Percentage of Max Peak Demand'].map(lambda x: x.rstrip('%'))
data_completed['Estimated Annual Production'] = data_completed['Estimated Annual Production'].map(lambda x: x.rstrip(' kWh'))
data_completed['Percentage of Annual Electricity Consumption'] = data_completed['Percentage of Annual Electricity Consumption'].map(lambda x: x.rstrip('%'))
data_completed['Estimated Annual Emissions Reduction'] = data_completed['Estimated Annual Emissions Reduction'].map(lambda x: x.rstrip(' MT CO2'))
data_completed['Estimated Social Cost of Carbon Value**'] = data_completed['Estimated Social Cost of Carbon Value**'].map(lambda x: x.lstrip('$'))
data_completed['Estimated Annual Energy Savings***'] = data_completed['Estimated Annual Energy Savings***'].map(lambda x: x.lstrip('$'))
data_completed['Upfront Project Cost'] = data_completed['Upfront Project Cost'].map(lambda x: x.lstrip('$'))

#change column names to be more succinct
data_completed.rename(columns={'City Council District': 'cc_district', 
                               'Agency': 'agency', 
                               'Site': 'site', 
                               'Address': 'address', 
                               'Borough': 'borough', 
                               'Installation date': 'instl_date',
                               'Installed  Capacity': 'capacity',
                               'Environmental Justice Zone*': 'envjustzon',
                               'Percentage of Max Peak Demand':'maxpkdem_%',
                               'Solar-Readiness Assessment**':'solarasmnt',
                               'Estimated Annual Production': 'anprod_kWh',
                               'Percentage of Annual Electricity Consumption': 'eleccons_%',
                               'Estimated Annual Emissions Reduction': 'emRd_MTCO2',
                               'Estimated Social Cost of Carbon Value**': 'estcarbval',
                               'Estimated Annual Energy Savings***': 'estanensav',
                               'Upfront Project Cost': 'projcostuf',
                               'Financing Mechanism': 'financing',
                               'BBL': 'bbl'}, inplace=True)

data_completed.head()

   cc_district agency                        site         bbl           address    borough envjustzon  instl_date capacity maxpkdem_% anprod_kWh eleccons_% emRd_MTCO2 estcarbval estanensav projcostuf financing
0            1   DCAS                   City Hall           1    City Hall Park  Manhattan          0   4/17/2015     10.0       0.10     11,738       0.10          3        403      1,229      1,297   Capital
1            1    DOE                        M276  1000160040  55 Battery Place  Manhattan          0    7/1/2010     50.0          6     58,692          3         15      2,017      5,765    231,500   Capital
2            1    DOT    Whitehall Ferry Terminal  1000020001        4 South St  Manhattan          0    7/1/2005     59.0          6     69,257          2         18      2,380      6,803    236,000   Capital
3            1   CUNY  BMCC Chambers St. Building  1001420050   199 Chambers St  Manhattan          0  11/29/2017    307.0          5    360,369          2         94     12,386     34,486  4,200,000   Capital
4            2    DOE                 M022 - NEST  1003350001   111 Columbia St  Manhattan        EJZ    7/1/2014    125.0         20    146,730         17         38      5,043     13,305    905,386   Capital

In [9]:
#remove units from fields in order to work with the data more easily
data_inprogress['Estimated Capacity'] = data_inprogress['Estimated Capacity'].map(lambda x: x.rstrip(' kW'))
data_inprogress['Estimated Annual Production'] = data_inprogress['Estimated Annual Production'].map(lambda x: x.strip(',').rstrip(' kWh'))
data_inprogress['Percentage of Annual Electricity Consumption'] = data_inprogress['Percentage of Annual Electricity Consumption'].map(lambda x: x.rstrip('%'))
data_inprogress['Estimated Annual Emissions Reduction'] = data_inprogress['Estimated Annual Emissions Reduction'].map(lambda x: x.rstrip(' MT CO2'))
data_inprogress['Estimated Cost of Carbon Value**'] = data_inprogress['Estimated Cost of Carbon Value**'].map(lambda x: x.lstrip('$'))
data_inprogress['Estimated Annual Energy Savings***'] = data_inprogress['Estimated Annual Energy Savings***'].map(lambda x: x.lstrip('($').rstrip(')'))

#change column names to be more succinct
data_inprogress.rename(columns={'City Council District': 'cc_district', 
                               'Agency': 'agency',
                               'Site': 'site', 
                               'Address': 'address', 
                               'Borough': 'borough', 
                               'Environmental Justice Zone*': 'envjustzon',
                               'Estimated Capacity': 'estcap_kW',
                               'Percentage of Max Peak Demand': 'maxpkdem_%',
                               'Estimated Annual Production': 'anprod_kWh',
                               'Percentage of Annual Electricity Consumption': 'eleccons_%',
                               'Estimated Annual Emissions Reduction': 'emRd_MTCO2',
                               'Estimated Cost of Carbon Value**':'estcarbval',
                               'Estimated Annual Energy Savings***': 'estanensav',
                               'Financing Mechanism': 'financing',
                               'BBL': 'bbl'}, inplace=True)

data_inprogress.head()

   cc_district agency             site              address    borough envjustzon estcap_kW maxpkdem_% anprod_kWh eleccons_% emRd_MTCO2 estcarbval estanensav financing         bbl
0            1    DOE             M025       145 Stanton St  Manhattan        NaN    147.70        22%    194,400         16         51     6,682      16,392       PPA  1003540080
1            1    DOE             M020         166 Essex St  Manhattan        EJZ    169.40        59%    223,100         53         58     7,668      18,812       PPA  1003550010
2            1   DCAS  100 Gold Street      100 Gold Street  Manhattan        NaN    259.80         7%    338,300          3         88    11,628      26,828       PPA  1000940025
3            2    DOE             M188  442 East Houston St  Manhattan        EJZ    109.70        25%    143,100         19         37     4,919      12,067       PPA  1003560100
4            2    DOE             M064      600 East 6th St  Manhattan        EJZ    153.20        39%    197,700         28         51     6,795      16,671       PPA  1003870001

In [10]:
#remove units from fields in order to work with the data more easily
data_rooffindings['Total Gross Square Footage'] = data_rooffindings['Total Gross Square Footage'].map(lambda x: x.rstrip(' GSF'))

#change column names to be more succinct
data_rooffindings.rename(columns={'City Council District': 'cc_district', 
                               'Agency': 'agency',
                               '2018 Solar-Ready Status': 'solarready',
                               'BBL': 'bbl',
                               'Site': 'site', 
                               'Address': 'address', 
                               'Borough': 'borough', 
                               'Environmental Justice Zone**': 'envjustzon',
                               'Total Gross Square Footage': 'total_sqft',
                               'Roof Condition':'roofcond',
                               'Roof Age': 'roofage',
                               'Solar-Readiness Assessment***': 'solarready',
                               'Other Sustainability Projects****': 'otherprojs',
                               }, inplace=True)

data_rooffindings.head()

   cc_district       solarready agency                               site         bbl            address    borough envjustzon total_sqft roofcond         roofage solarready otherprojs
0            1  Not Solar-Ready   NYPL           Battery Park City Branch           1  175 North End Ave  Manhattan        NaN     10,000  Unknown         Unknown        NaN        NaN
1            1  Not Solar-Ready   FDNY                              EMS 4           1            Pier 36  Manhattan        EJZ     12,000  Unknown  15 to 19 years        NaN        NaN
2            1      Solar-Ready   NYPL      Chatham Square Branch Library  1002800044   33 East Broadway  Manhattan        EJZ     12,243     Fair       < 2 years        NaN        NaN
3            1  Not Solar-Ready   FDNY       Engine Co. 33 & Ladder Co. 9  1005310049  42 Great Jones St  Manhattan        NaN     12,649  Unknown  10 to 14 years        NaN        NaN
4            1  Not Solar-Ready    DPR  Alfred E. Smith Recreation Center  1001110160    86 Catherine St  Manhattan        EJZ     13,000     Fair      > 20 years        NaN        NaN

In [11]:
#remove units from fields in order to work with the data more easily
data_solarready['Estimated Capacity***'] = data_solarready['Estimated Capacity***'].map(lambda x: x.rstrip(' kW'))
data_solarready['Estimated Annual Production***'] = data_solarready['Estimated Annual Production***'].map(lambda x: x.rstrip(' kWh'))
data_solarready['Estimated Annual Emissions Reduction'] = data_solarready['Estimated Annual Emissions Reduction'].map(lambda x: x.rstrip(' MT CO2'))

#change column names to be more succinct
data_solarready.rename(columns={'City Council District': 'cc_district', 
                               'Agency': 'agency',
                               '2018 Solar-Ready Status': 'solarready',
                               'Site': 'site', 
                               'Address': 'address', 
                               'Borough': 'borough', 
                               'Environmental Justice Zone*': 'envjustzon',
                               'Solar-Readiness Assessment**': 'solarready',
                               'Total Gross Square Footage': 'total_sqft',
                               'Roof Condition':'roofcond',
                               'Roof Age': 'roofage',
                               'Estimated Capacity***': 'estcap_kW',
                               'Estimated Annual Production***': 'anprod_kWh',
                               'Estimated Annual Emissions Reduction': 'emRd_MTCO2',
                               'BBL': 'bbl'}, inplace=True)
data_solarready.head()

   cc_district agency                           site           address    borough envjustzon solarready estcap_kW anprod_kWh emRd_MTCO2         bbl
0            1   CUNY             BMCC Fiterman Hall  245 Greenwich St  Manhattan        NaN        NaN      0.61        716         0.  1001270001
1            1   NYPL  Chatham Square Branch Library  33 East Broadway  Manhattan        EJZ        NaN      1.83      2,148          1  1002800044
2            1   NYPD                   5th Precinct   19 Elizabeth St  Manhattan        EJZ        NaN      3.05      3,580          1  1002010020
3            1    DOE                           M477  345 CHAMBERS ST.  Manhattan        NaN        NaN     12.20     14,321          4  1000160215
4            1   DCAS          Court Square Building    2 Lafayette St  Manhattan        NaN        NaN     14.60     17,142          4  1001550001

In [12]:
data_completed.to_csv("data/LL24_bbl/LL24_Completed_bbl_string_mapped.csv", encoding='utf-8')
data_inprogress.to_csv("data/LL24_bbl/LL24_InProgress_bbl_string_mapped.csv", encoding='utf-8')
data_rooffindings.to_csv("data/LL24_bbl/LL24_RoofFindings_bbl_string_mapped.csv", encoding='utf-8')
data_solarready.to_csv("data/LL24_bbl/LL24_SolarReady_bbl_string_mapped.csv", encoding='utf-8')